
a:link, a:visited {
  color: black;
}

header {
  text-align: center;
  border-radius: 25px;
  max-width: 940px;
  margin: 0 auto;
  padding: 1em;
  background-color:#45b3e0;
  font-family: 'Roboto', sans-serif;
}

img {
  float: right;
  max-width: 150px;
  height: auto;
}

main {
    max-width: 940px;
    margin: 0 auto;
    padding: 1em;
    font-family: 'Open Sans', san-serif;
}

main h2 {
    border-bottom: 1px solid black;
}

 footer {
    text-align: center;
    border-radius: 25px;
    max-width: 940px;
    margin: 0 auto;
    padding: 1em;
    background-color:#45b3e0;
    font-family: 'Roboto', sans-serif;
 }


 